<div class="container">
  <div>
    <div class="flex">
      <div class="avatar">
        <div class="w-24 rounded-full">
          <%= image_tag @user.avatar.url %>
        </div>
      </div>
      <div>
        <span><%= @user.name %></span>
      </div>
    </div>
    <div>
      <%= simple_format(@user.introduction) %>
    </div>
  </div>
  <!-- ユーザーの投稿内容 -->
  <div>
    <% if @user_posts.present? %>
      <%= render partial: 'posts/post', collection: @user_posts, locals: { post: @user_posts } %>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
  </div>
</div>