<!-- Navbar -->
<div class="navbar bg-base-100 border-b">
  <div class="flex-1">
    <%= link_to "steteco", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <%= link_to '投稿ランキング', posts_path, class: "btn btn-ghost" %>
    <%= link_to 'LINEでログイン', auth_at_provider_path(provider: :line), class: "btn" %>
  </div>
</div>