<footer class="footer footer-center p-4 bg-primary border-t text-base-content">
  <nav class="grid grid-flow-col gap-3">
    <%= link_to "利用規約", terms_path, class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", privacy_path, class: "link link-hover" %>
    <%= link_to "お問い合わせ", privacy_path(anchor: "contact"), class: "link link-hover" %>
  </nav>
  <aside>
    <p>Copyright © 2023 - steteco</p>
  </aside>
</footer>