<footer class="footer footer-center p-4 bg-primary border-t text-base-content">
  <nav class="grid grid-flow-col gap-3">
    <a class="link link-hover">お問い合わせ</a>
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
  </nav>
  <aside>
    <p>Copyright © 2023 - steteco</p>
  </aside>
</footer>