<footer class="footer footer-center p-4 bg-primary border-t text-base-content">
  <nav>
    <div class="grid grid-flow-col gap-3">
    <%= link_to "利用規約", terms_path, class: "link link-hover" %>
    <%= link_to "プライバシーポリシー", privacy_path, class: "link link-hover" %>
    <%= link_to "お問い合わせ", privacy_path(anchor: "contact"), class: "link link-hover" %>
    </div>
    <%= link_to "http://www.goo.ne.jp/" do %>
      <% image_tag "//u.xgoo.jp/img/sgoo.png", alt: "supported by goo", title: "supported by goo", class: "w-[100px]" %>
    <% end %>
  </nav>
  <aside>
    <small>© steteco 2023</small>
  </aside>
</footer>