<!-- Navbar -->
<div class="navbar bg-primary border-b">
  <div class="navbar-start">
    <%= link_to "steteco", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  
  <div class="navbar-end">
    <a href="https://lin.ee/Vit5Ykr"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" class="w-28"></a>
    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full border border-2">
        <%= image_tag current_user.avatar.url %>
      </div>
    </label>
  </div>
</div>