<!-- Navbar -->
<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "steteco", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>
  <div class="flex-none">
    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full">
        <%= image_tag "no_image.png" %>
      </div>
    </label>
  </div>
</div>
  
  