<%= search_form_for @q, url: url do |f| %>
  <div class="mb-5">
    <%= f.date_field :"#{date_key}_gteq", class: "border" %>
      <span>~</span>
    <%= f.date_field :"#{date_key}_lteq_end_of_day", class: "border" %>
  </div>
    <%= f.submit "検索", class: "btn btn-primary join-items" %>
<% end %>