<% content_for(:title, t('.title')) %>
<main class="flex-grow">
  <div class="hero h-[230px] md:h-[450px] lg:h-[750px]" style="background-image: url(<%= asset_path 'top_page.png' %>);">
    <div class="hero-content flex flex-col text-center text-white drop-shadow">
      <h1 class="md:mb-5 font-bold text-lg md:text-3xl lg:text-5xl">売れると思うと捨てられない</h1>
      <p class="md:mb-5 text-sm md:text-lg">そんな経験、ありませんか？</p>
      <p class="text-sm md:text-lg md:mb-10">ここは、そんな悩みを解決する場所です。</p>
      <div class="hidden md:block md:flex">
        <div class="p-2">
          <p>※お試しで使ってみたい</p>
          <%= link_to 'ゲストログイン', guest_login_path, data: { "turbo-method": :post }, class: "btn btn-neutral" %>
        </div>
        <div class="p-2">
          <p>データを引き継いで使いたい</p>
          <%= link_to 'LINEでログイン', auth_at_provider_path(provider: :line), class: "btn btn-neutral" %>
        </div>
      </div>
      <div class="text-xs">
        <p>※ゲストログインは、ログアウト後にデータが削除されます。</p>
        <p>※LINE通知は、LINEログインと友だち追加でご利用できます。</p>
      </div>
    </div>
  </div>
  <div>
    <div class="p-5">
      stetecoは、お家に溜まっている不用品を管理して、断捨離がしやすい生活をサポートをするアプリです。</br>
      フリマアプリを使っていると、「売れるかもしれないから...」と考えてしまい、結局モノが溜まってしまうことはありませんか?</br>
      なかなか捨てる決断ができない、そんな方におすすめのアプリです!
    </div>
    <div class="flex flex-wrap items-center justify-around">
      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">アイテム管理</h2>
          <p>「アイテム追加」ボタンから、不用品を追加します。</p>
          <p>以下のように分けて管理できます。</p>
          <ul class="list-disc ml-8">
            <li>カテゴリー別</li>
            <li>出品中</li>
            <li>未出品</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">LINE通知</h2>
          <p>アイテム追加時に指定した通知日にLINEメッセージが届きます!</p>
          <ul class="list-disc ml-8">
            <li>通知は10時と17時</li>
            <li>毎週土曜日に未断捨離アイテムを通知</li>
            <li>断捨離後は、編集ページで処分方法を変更</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">履歴ページで確認</h2>
          <ul>
            <li>断捨離したアイテムは履歴ページで確認できます。</li>
            <li>次回の購入の参考にしましょう!</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">グラフ・目標設定</h2>
          <ul>
            <li>直近1週間の断捨離数をグラフで確認できます。</li>
            <li>月ごとの断捨離目標数を設定できます。</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">アドバイス機能</h2>
          <ul>
            <li>グラフページにある「アドバイスをみる」を押すと、登録アイテムの中から、みんなが捨てたアイテムと似ているものを探します。</li>
            <li>断捨離の際の参考にしてください。</li>
          </ul>
        </div>
      </div>

      <div class="card bg-base-100 shadow-xl w-full md:w-[450px] md:h-[220px] m-1">
        <div class="card-body">
          <h2 class="card-title">断捨離したモノを投稿</h2>
          <ul>
            <li>アイテムを断捨離できたら投稿してみましょう!</li>
            <li>投稿ボタンから投稿フォームにアクセスできます。</li>
            <li>あなたの投稿がみんなの助けになります!</li>
          </ul>
          <%= link_to 'みんなの投稿をみる', posts_path, class: "btn btn-neutral" %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center space-y-2 my-10">
    <h2 class="font-bold text-lg">公式LINEアカウントはこちら</h2>
    <div class="w-[200px]"><img src="https://qr-official.line.me/gs/M_305zhajm_GW.png?oat_content=qr"></div>
    <a href="https://lin.ee/Vit5Ykr"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0" class="w-28"></a>
  </div>
</main>
