<div class="hero min-h-screen">
  <div class="hero-content flex-col text-center">
    <%= image_tag 'top_page.jpg' %>
    <div class="max-w-md">
      <h1 class="mb-5 text-2xl font-bold">売れると思うと捨てられない</h1>
        <p class="mb-5">そんな経験、ありませんか？</p>
        <p class="mb-5">ここは、そんな悩みを解決する場所です。<p>

      <h2 class="mb-5 text-2xl">Service</h2>
        <div>
          <h3>1.捨てたモノをみんなでシェア</h3>
            <p>売れると思ったけど、結局捨てたモノがあれば投稿してみましょう！</p>
            <p>あなたの投稿が誰かの助けになります。</p>
        </div>
        <div>
          <h3>2.不用品をリストで管理</h3>
            <p>不用品を出品中・未出品リストに分け管理できます。</p>
            <p>カテゴリー別にアイテムを登録</p>
        </div>
        <div>
          <h3>3.グラフで可視化</h3>
            <p>捨てたモノの数を計算し、グラフ化します。</p>
        </div>
        <div>
          <h3>4.LINEで通知</h4>
        </div>
    </div>
  </div>
</div>
