<% content_for(:title, t('.title')) %>
<main class="flex-grow">
  <div class="hero h-[300px] md:h-[400px]" style="background-image: url(<%= asset_path 'top.jpg' %>);">
    <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-2xl font-bold md:text-3xl">売れると思うと捨てられない</h1>
          <p class="mb-5">そんな経験、ありませんか？</p>
          <p class="mb-5">ここは、そんな悩みを解決する場所です。<p>
        </div>
      </div>
    </div>
  <div class="w-full p-5">
    <h2 class="mb-5 text-center text-2xl border-b">このサイトでできること</h2>
    <div class="space-y-4 md:flex md:flex-wrap md:space-y-0 md:justify-around">
      <div>
        <h3 class="text-lg text-center">アイテム登録</h3>
        <div class="mx-auto bg-primary rounded-full relative h-[250px] w-[250px]">
          <p class="p-5 text-center absolute left-0 top-1/2 -translate-y-1/2 w-[250px]">
            お家に溜まっている不用品をどんどん登録しましょう!</br>
            アイテムは、カテゴリー別や出品中・未出品別に分けて管理できます。
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-lg text-center">LINE通知</h3>
        <div class="mx-auto bg-primary rounded-full relative h-[250px] w-[250px]">
          <p class="p-5 text-center absolute left-0 top-1/2 -translate-y-1/2 w-[250px]">
            アイテム登録時には、通知日を指定します。</br>
            通知日が来たらLINEメッセージが届きます!
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-lg text-center">履歴ページで確認</h3>
        <div class="mx-auto bg-primary rounded-full relative h-[250px] w-[250px]">
          <p class="p-5 text-center absolute left-0 top-1/2 -translate-y-1/2 w-[250px]">
            どんなモノを断捨離したのか履歴ページで確認できます。</br>
            次回の購入の参考にしましょう!
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-lg text-center">グラフ</h3>
        <div class="mx-auto bg-primary rounded-full relative h-[250px] w-[250px]">
          <p class="p-5 text-center absolute left-0 top-1/2 -translate-y-1/2 w-[250px]">
            断捨離した数をグラフで確認できます。</br>
            皆さんの成果をわかりやすい形で可視化します!
          </p>
        </div>
      </div>
      <div>
        <h3 class="text-lg text-center">捨てたモノをみんなにシェア</h3>
        <div class="mx-auto bg-primary rounded-full relative h-[250px] w-[250px]">
          <p class="p-5 text-center absolute left-0 top-1/2 -translate-y-1/2 w-[250px]">
            アイテムを断捨離できたら投稿してみましょう！</br>
            あなたの投稿が誰かの助けになります。
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
