<div class="w-full h-screen flex flex-col justify-center">
  <div>
    <%= link_to "データを詳しく見る", decluttering_path(current_user), class: "btn" %>
  </div>
  <div data-controller="chart" class="relative h-3/5">
    <canvas data-chart-target="canvas"></canvas>
  </div>
</div>