<div data-controller="tab">
  <div class="tabs">
    <a class="tab w-1/2 tab-bordered tab-active" data-tab-target="status" data-action="click->tab#status">売れた</a> 
    <a class="tab w-1/2 tab-bordered not-active" data-tab-target="status" data-action="click->tab#status">捨てた</a> 
  </div>
  <div data-tab-target="content">
    <div class="overflow-x-auto">
      <table class="table" id="items">
        <% if @sold_items.present? %>
          
        <% end %>
      </table>
    </div>
  </div>
  <div class="hidden" data-tab-target="content">
    <div class="overflow-x-auto">
      <table class="table" id="items">
        <% if @discard_items.present? %>
          
        <% end %>
      </table>
    </div>
  </div>
</div>