<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal">
    <dialog class="modal" data-modal-target="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg text-center">アイテムの処分方法をえらぼう!</h3>
        <%= render "method", item: @item %>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  </div>
<% end %>