<main class="my-auto md:m-auto">
  <div class="p-5 md:w-[700px]">
    <%= render "form", { item: @item, category: @categories, child_category: @child_categories, parent_category: @parent_category } %>
  </div>
</main>