<div>
  <div class="overflow-x-auto">
    <table class="table" id="items">
      <% if @disposal_items.present? %>
        <%= render partial: 'item', collection: @disposal_items, locals: { item: @disposal_items } %>
      <% end %>
    </table>
  </div>
</div>
