<div>
  <div class="flex justify-center my-5">
    <div data-controller="autocomplete" data-autocomplete-url-value="<%= search_items_path(view: 'history') %>" role="combobox">
      <%= render "shared/search_form", url: history_items_path, search_key: :name_cont, key: :name, date_key: 'notification_notify_date' %>
      <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <% if @disposal_items.present? %>
        <%= render partial: 'item', collection: @disposal_items, locals: { item: @disposal_items } %>
      <% end %>
    </table>
  </div>
</div>
