<div data-controller="tab">
  <div class="tabs">
    <a class="tab w-1/2 tab-bordered tab-active" data-tab-target="status" data-action="click->tab#status">出品中</a> 
    <a class="tab w-1/2 tab-bordered not-active" data-tab-target="status" data-action="click->tab#status">未出品</a> 
  </div>
  <%= turbo_frame_tag "items_list" do %>
  <div data-tab-target="content">
    <div class="overflow-x-auto">
      <table class="table">
        <% if @listed_items.present? %>
          <%= render partial: 'item', collection: @listed_items, locals: { item: @listed_items } %>
        <% end %>
      </table>
    </div>
  </div>
  <div class="hidden" data-tab-target="content">
    <div class="overflow-x-auto">
      <table class="table">
        <% if @unlisted_items.present? %>
          <%= render partial: 'item', collection: @unlisted_items, locals: { item: @unlisted_items } %>
        <% end %>
      </table>
    </div>
  </div>
  <% end %>
</div>
