<div class="flex justify-center">
  <div class="card w-2/3">
    <div class="text-center">
      <h1>アイテム作成</h1>
    </div>
    <%= render "form", { item: @item, category: @categories } %>
  </div>
</div>
