<% content_for(:title, t('.title')) %>
<main class="m-auto">
  <div class="overflow-x-auto md:w-[700px]">
    <table class="table h-[600px] md:h-[750px] lg:h-[1000px]">
      <%= render 'item_show', item: @item %>
    </table>
    <div class="mt-5 flex justify-center">
      <ul>
        <li class="inline-block">
          <%= link_to '編集', edit_item_path(@item), class: "btn btn-secondary px-12 md:px-20" %>
        </li>
        <% if @item.disposal_method_i18n == "処分前" %>
          <li class="inline-block">
            <%= button_to '削除', @item, method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-error px-12 md:px-20" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>