<div class="card w-[330px] md:w-full lg:w-[800px] bg-base-100 shadow-md m-2 ranks">
  <div class="md:flex">
    <figure class="mt-6 md:mt-0">
      <div class="w-[240px]">
        <%= image_tag before_login_post.item.image.url %>
      </div>
    </figure>
    <div class="md:w-3/4 md:flex md:flex-col">
      <div class="card-body md:flex-grow">
        <h2 class="card-title"><%= truncate(before_login_post.item.name, length: 15) %></h2>
        <p><%= truncate(before_login_post.content, length: 80) %></p>
      </div>

      <div class="flex items-center justify-around h-[50px] border-t">
        <p class="text-sm text-neutral-400">更新日: <%= before_login_post.updated_at.strftime("%Y-%m-%d") %></p>
      </div>
    </div>
  </div>
</div>