<div class="card w-96 bg-base-100 shadow-xl m-2">
  <%= image_tag post.item.image.url %>
  <div class="card-body">
    <h2 class="card-title">
      <%= post.item.name %>
    </h2>
    <p><%= post.content %></p>
    <div class="card-actions justify-end">
      <div class="badge badge-outline">Fashion</div> 
      <div class="badge badge-outline">Products</div>
    </div>
  </div>
</div>