<div>
  <div class="flex items-center justify-center md:flex flex-wrap">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p class="text-center">投稿はありません</p>
    <% end %>
  </div>
</div>
