<% content_for(:title, t('.title')) %>
<main class="md:mx-auto">
  <div class="md:w-[700px]">
    <div class="flex flex-wrap items-center justify-center">
      <% if @like_posts.present? %>
        <%= render @like_posts %>
      <% else %>
        <p>お気に入りしている投稿はありません</p>
      <% end %>
    </div>
    <%= paginate @like_posts %>
  </div>
</main>