@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .field_with_errors {
    @apply contents;
  }
}

@layer components {
  div.ranks {
    counter-increment: rank;
    @apply before:content-[counter(rank)"ä½"] before:font-bold before:text-red-600;
  }
}

.radio-custum:checked + label {
  @apply bg-primary; 
}