<div class="bg-base-100 mt-1 p-4 h-20 border-l-[6px] border-solid border-secondary shadow-md md:w-[500px]">
  <div class="flex justify-between w-full items-center" data-controller="link" data-link-target="toLink" data-action="click->link#toLink" data-href="<%= category_items_path(category_id: category.id) %>">
    <div class="avatar border-2 rounded-lg">
      <div class="w-10">
        <%= category_icon(category) %>
      </div>
    </div>
    <div class="font-bold truncate w-48">
      <%= category.title %>
    </div>
    <div>
      <p class="text-center">(<%= category.children.joins(:items).where(items: { user_id: current_user.id }).where(items: { disposal_method: "before" }).count %>)</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
    </svg>
  </div>
</div>