<% @categories.each do |category| %>
<div class="collapse collapse-arrow bg-base-200">
  <input type="checkbox" /> 
  <div class="collapse-title text-xl font-medium">
    <%= category.title %>
  </div>
  <div class="collapse-content"> 
    <p>hello</p>
  </div>
</div>