<div class="container mx-auto w-full max-w-xl">
  <div class="flex justify-center mt-5 mb-10">
    <div data-controller="autocomplete" data-autocomplete-url-value="/categories/search" role="combobox">
      <%= render "shared/search_form", url: categories_path, search_key: :title_cont, key: :title, date_key: 'items_notification_notify_date' %>
      <ul class="list-group bg-white absolute w-full md:text-sm max-w-max" data-autocomplete-target="results"></ul>
    </div>
  </div>
  <div data-controller="graph" class="relative h-32">
    <canvas data-graph-target="bar"></canvas>
  </div>
  <div class="card">
  <%= turbo_frame_tag "category" do %>
    <div class="card-body" id="categories">
      <%= render @categories %>
    </div>
  <% end %>
  </div>
</div>
  
