<div class="container w-full">
  <%= turbo_frame_tag "category" do %>
    <div class="divide-y flex flex-col justify-center" id="categories">
      <%= render @categories %>
    </div>
  <% end %>
</div>
  
