<div class="px-8 card">
  <div class="overflow-c-auto card-body">
    <table class="table text-xl font-medium" id="categories">
      <%= render partial: "category", collection: @categories, locals: { item: @items } %>
    </table>
  </div>
</div>
  
