<div data-controller="modal">
  <div data-modal-target="modal" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center absolute" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-h-screen w-full max-w-lg relative">
      <!-- Modal Card -->
      <div class="my-1 bg-white rounded shadow w-80 mx-auto">
        <div class="p-8">
          <%= yield %>
          <div class="flex items-center flex-wrap mt-6 w-80 mx-auto">
            <button class="ml-5" data-action="click->modal#close">閉じるボタン</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>