<footer class="footer footer-center p-4 bg-base-100 border-t text-base-content">
  <nav>
    <%= link_to "http://www.goo.ne.jp/" do %>
      <% image_tag "//u.xgoo.jp/img/sgoo.png", alt: "supported by goo", title: "supported by goo", class: "w-[100px]" %>
    <% end %>
  </nav>
  <aside>
    <small>© steteco 2023</small>
  </aside>
</footer>