<% content_for(:title, t('.title')) %>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="text-center lg:text-left">
      <h1 class="text-3xl font-bold">管理者ログイン</h1>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <%= render 'form' %>
    </div>
  </div>
</div>